/bin
/binaries
/build
/cache
/foreign/gambit
/kernel/syntax/header.o1
/kernel/syntax/header.o1.dSYM
/kernel/syntax/header.ver
/lib/jazz.sample.paradigms/src/profile/paradigms/catalogs/
/lib/jazz.website/content/*.htm
/lib/jazz.website/reference
/lib/jazz.website/src/profile/website/catalogs/
/.jam
/.jazzini
/*.patch
.configuration
.DS_Store