(library [name] jazz


(import (jazz.builder)
        (jazz.debugger)
        (jazz.debugger.debuggers.gambit)
        (jazz.io)
        (jazz.jml)
        (jazz.library)
        (jazz.literals))


(class [name] extends Gambit-Product
  
  
  (form
    (<install> title: "[name]")))


(register-autoclass [name]))
