(library [name] jazz


(import (jazz.builder)
        (jazz.io)
        (jazz.jml)
        (jazz.library)
        (jazz.literals))


(class [name] extends Project
  
  
  (form
    (<install> title: "[name]" catalog?: #t catalog-extensions: :scheme include-extensions: :scheme)))


(register-autoclass [name]))
