(library [module] jazz


(import (jazz.builder)
        (jazz.io)
        (jazz.jml)
        (jazz.library)
        (jazz.literals))


(class [name] extends Project
  
  
  (form
    (<install> title: "[name]" catalog?: #t catalog-extensions: :text include-extensions: :text module-name: [module])))


(register-autoclass [name]))
